{% extends 'back/base.html.twig' %}

{% block body %}


<div class="row">
    <div class="col-lg-6 col-md-12">
        <h3>Formateurs</h3>
        <table class="table table-dark table-striped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Specialité</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>
                         <a class="main-link" href="{{ path('app_admin_user_show', {'id': user.id}) }}">
                        {{ user.lastName }} {{ user.firstName }}
                         </a>
                    </td>
                    <td>
                        {% for specialty in user.specialities %}
                            {{ specialty.title }}
                            {% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
    <h3> Nombre totale des formateurs enrgistres </h3>
    <div class="text-bg-dark"><span style="font-weight:bolder ">[ {{ totalUsers }} ]</span></div>
{% endblock %}

