{% extends 'front/base.html.twig' %}
{% block body %}
{#    appelle les flash messages#}
<div class="container">
    {% for label, messages in app.flashes%}
        {% for message in messages %}
        <div class="alert alert-{{ label}}" role="alert" id="alert-success">
{#            j'ai ajouté X pour user le ferme #}
{#            <button type="button" class="close" data-dismiss="alert" aria-label="Close">#}
{#                <span aria-hidden="true">&times;</span>#}
{#            </button>#}
            {{ message|raw}} <i class="fas fa-check-circle text-success"></i>
        </div>
    {% endfor%}
 {% endfor%}
</div>
    <section id="contact" class=" d-flex justify-content-between col-11">

        <div class="left-side m-lg-4">
            {{ form_start(form) }}
            <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
                <div class="my-4">
                    {{ form_row(form.NomComplet) }}
                </div>
            </div>
            <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
                <div class="my-4">
                    {{ form_row(form.Email) }}
                </div>
            </div>
            <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
                <div class="my-4">
                    {{ form_row(form.VotreMessage) }}
                </div>
            </div>
            <button id="envoyer" class="btn-orange small" type="submit">Envoyer</button>
            {{ form_end(form) }}
        </div>

        <div class="right-side">
            <h4 class="pb-5 pt-3"> Restons en contact !</h4>
            <div class="d-flex justify-content-between">
                <div class="block-info">
                    <div class="circle-icon orange">
                        <i class="fas fa-location-dot"></i>
                    </div>
                    <p>55 rue Charles de Gaulle<br>42000 SAINT ETIENNE</p>
                </div>
                <div class="block-info">
                    <div class="circle-icon orange">
                        <i class="fas fa-phone"></i>
                    </div>
                    <p><a href="tel:+33698132566">+33 6 98 13 25 66</a></p>
                </div>
                <div>
                    <div class="circle-icon orange">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <p><a href="mailto:contact@alyfpro.fr">contact@alyfpro.fr</a></p>
                </div>
            </div>
            <div class="circle-icon social">
                <a href="https://www.linkedin.com/in/alyf-sarl-a63895230/"><i class="fab fa-linkedin"></i></a>
            </div>
        </div>

    </section>
{% endblock %}
